/*
JavaScript Snake
By Patrick Gillespie
http://patorjk.com/games/snake
*/
body {
	margin:0px;
	padding:0px;
	color: #fff;
}

#game-area {
	margin:0px;
	padding:0px;
	background: url(images/drcom.jpg) no-repeat 50% 50%;
	background-size: 60%;
}

#game-area:focus { 
    outline: none;
    
}

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #FCFC54; 
}

a.snake-link:hover {
  color: #FfFf54; 
}


.snake-placeholder {
    background: #ddd;
}

.snake-panel-component {
    position: absolute;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    position: absolute;
    background-repeat: no-repeat;
}

div.snake-head-top {
   border-color: #900;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

div.snake-head-right {
   border-color: #900;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
}

div.snake-head-left {
   border-color: #900;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
}

div.snake-head-bottom {
   border-color: #900;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}


.snake-snakebody-alive {
   background: #999;
   border: 2px solid #333;
   border-radius: 5px;
}
.snake-snakebody-dead {
   background-image: #900;
}

.snake-food-block {
    margin: 0px;
    padding: 0px;
    background-color: #FF0000;
    border: 0px solid #000080;
    position: absolute;
}

.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: #FC5454;
    position: relative;
}
            
.snake-welcome-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin-top: -100px;
    margin-left: -158px;
    text-align: center;
    display: block;
}

.snake-try-again-dialog {
    padding: 8px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-top: -75px;
    margin-left: -158px;
    text-align: center;
    display: none;
}